.metadata/
.recommenders/
.settings/

Servers/
RemoteSystemsTempFiles/

.apt_generated

.gwt/
tmp/
bin/
war/
target/
.recommenders/
.gwt/
.settings/
.classpath

gwt-unitCache/
.project
Development/Source/testing
.factorypath
.pmd
build/
apps/
